<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>---Welcome to online Book-shop---</h2>
    <div>
        @RenderBody()
    </div>

</body>
</html>
