@model EAD_project.SignUp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SignUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifier" class="control-label"></label>
                <input asp-for="Modifier" class="form-control" />
                <span asp-validation-for="Modifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifying_date" class="control-label"></label>
                <input asp-for="Modifying_date" class="form-control" />
                <span asp-validation-for="Modifying_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creating_date" class="control-label"></label>
                <input asp-for="Creating_date" class="form-control" />
                <span asp-validation-for="Creating_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
